:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --circle-size: 10vw;
  --border-radius: 50%;

  --sefirot-circle-size: 20vw;
}

.App {
  text-align: center;
}

.sefirot-container .sefirot-major {
  border-radius: var(--border-radius);
  border-color: black;
  border-style: solid;
  width: 35vw;
  height: 35vw;
  max-width: 35vh; 
  max-height: 35vh;
}