:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --circle-size: 10vw;
  --border-radius: 50%;

  --sefirot-circle-size: 20vw;
}

.App {
  text-align: center;
  min-width: 1006px;
}

.App > .kether,
.App > .malkuth {
  width: 100%;
}

.App > .malkuth {
  padding-top: 8rem;
}

.App > .binah-chokma,
.App > .gevura-chesed,
.App > .hod-netzach {
  display: flex;
  justify-content: space-evenly;
}
